@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.order__link {
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order__link:hover {
    background-color: #ce401a; }

.pagination-list {
  position: fixed;
  right: 55px;
  top: 95px;
  z-index: 100; }

.pagination__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative; }
  .pagination__item:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    margin-left: 50%;
    margin-top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .pagination__item:hover {
    border: 1px solid #fff;
    cursor: pointer; }

.pagination__item--active {
  border: 1px solid #fff; }

.first_screen {
  background-image: url("../img/bg/welcome_page_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.logo {
  margin-right: auto;
  width: 93px;
  height: 68px; }

.logo__img {
  width: 100%;
  height: 100%; }

.nav {
  margin-right: 0.9375rem; }

.nav-list {
  padding: 0;
  margin: 0; }

.nav__item {
  display: inline-block;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.first_container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.welcome {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.welcome__col {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  margin: 0;
  padding: 0; }

.welcome__desc {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1; }

.scroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); }

.scroll__img {
  width: 30px;
  height: 15px;
  fill: #fff; }

.we_best {
  background: url(../img/bg/we_best_bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.we__title {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem; }

.features-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.features__item {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-align: center;
  list-style: none; }

.features__title {
  font-family: lifehack;
  font-weight: 500;
  color: #2f3234;
  font-size: 24px; }

.features__desc {
  font-weight: 300;
  color: #2f3234;
  opacity: 0.8;
  font-size: 14px; }

.team {
  background: url(../img/bg/team_bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative; }

.team__section {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #2f3234;
  opacity: 0.93;
  padding: 90px 80px;
  width: 50%; }

.team__title {
  margin-bottom: 80px; }

.team-accordeon__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  padding-left: 20px; }

.team-accordeon__img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 20px; }

.team-accordeon__name {
  font-family: 'Gagalin';
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  padding-left: 20px; }
  .team-accordeon__name::before {
    position: absolute;
    content: "";
    border: 7px solid transparent;
    border-top: 10px solid #f9b43b;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); }

.team-accordeon__text {
  color: #fff;
  font-size: 14px;
  width: 240px; }

.team-accordeon__title {
  font-weight: 900;
  margin-bottom: 15px; }

.team-accordeon__item--active .team-accordeon__content {
  height: auto;
  margin-top: 20px; }

.team-accordeon__item--active .team-accordeon__name {
  color: #f9b43b; }
  .team-accordeon__item--active .team-accordeon__name::before {
    border-top: transparent;
    border-bottom: 10px solid #f9b43b;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.menu {
  background-image: url(../img/bg/menu_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.menu__title {
  color: #fff; }

.menu-acco {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

.menu-acco__item, .menu-acco__link {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.menu-acco__link {
  width: 80px;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  text-decoration: none; }

.menu-acco__title {
  display: inline-block;
  position: absolute;
  top: 50%;
  color: #fff;
  font-family: 'Gagalin';
  font-size: 40px;
  white-space: nowrap;
  z-index: 10;
  -webkit-transform: translateY(-50%) translateX(-35%) rotate(-90deg);
  -ms-transform: translateY(-50%) translateX(-35%) rotate(-90deg);
  transform: translateY(-50%) translateX(-35%) rotate(-90deg); }

.menu-acco__desc {
  width: 0;
  overflow: hidden;
  background-color: #2f3234;
  opacity: 0.93;
  line-height: 24px; }

.menu-acco__item--active .menu-acco__desc {
  width: 540px;
  padding: 60px 35px; }

.menu-acco__text {
  color: #fff;
  font-size: 14px;
  font-weight: 300; }

.reviews-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.reviews__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  height: 50%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.reviews__overlay {
  padding: 50px 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(20, 20, 20, 0.6);
  opacity: 0; }
  .reviews__overlay:hover {
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.reviews__name {
  font-family: gagalin;
  font-size: 14px;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1.7; }

.reviews__text {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px; }

.reviews__btn {
  background: #2f3234;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding: 7px 13px; }
  .reviews__btn:hover {
    background-color: #1f2122; }

.form {
  background: url(../img/bg/form_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.contacts {
  background-image: url(../img/bg/map_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.footer {
  background-image: url(../img/bg/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.footer__container {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.footer__col {
  width: 50%; }

.address {
  width: 300;
  font-size: 14px;
  color: #fff; }

.phone__icon {
  width: 12px;
  height: 12px;
  fill: #e45028; }

.phone__number {
  color: #e45028;
  font-size: 14px;
  font-weight: 900;
  text-decoration: none; }

.social {
  text-align: right; }

.social__icon {
  display: inline-block;
  margin-right: 20px;
  fill: #fff;
  opacity: 0.3;
  width: 20px;
  height: 20px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .social__icon:hover {
    opacity: 1; }
  .social__icon:last-child {
    margin-right: 0; }

/*# sourceMappingURL=main.css.map */