.first_screen {
  background-image: url("../img/bg/welcome_page_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.logo {
  margin-right: auto;
  width: 93px;
  height: 68px;
}

.logo__img {
  width: 100%;
  height: 100%;
}

.nav {
  margin-right: rem(15px);
}

.nav-list {
  padding: 0;
  margin: 0;
}

.nav__item {
  display: inline-block;
  white-space: nowrap;
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    @include circle(5px, #fff);
    margin: 0 12px;
  }
  &:last-child:after {
    display: none;
  }
}

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  &:hover {
    text-decoration: underline;
  }
}

.first_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
}

.welcome__col {
  flex-basis: 50%;
}

.section__title {
  color: $yellow;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px;
}

.welcome__desc {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1;
}

.scroll {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(50%);
}
