.reviews-list {
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding:0;
  height:100%;
  width: 100%;
}

.reviews__item {
  flex:1 0 25%;
  height:50%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.reviews__overlay {
  padding: 50px 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(20, 20, 20, 0.6);
  opacity: 0;
  &:hover {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  }
}

.reviews__name {
  font-family: gagalin;
  font-size: 14px;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1.7;
}

.reviews__text {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}

.reviews__btn {
  background: $dark;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: .5s;
  padding: 7px 13px;
  &:hover {
    background-color: #1f2122;
  }
}
